$accented-text: #d41443;
$hero-bgc: #ffb8ca;
// фон героя, фон в продуктах
$dark-pink: #ffa5ba;
// круги в герое, более светлый розовый текст в заголовках секцийб розовый текст режим работы
$light-btn-hover-bgc: #ecebeb;
$coffee: #f0d1a5;
// фон для кофе в продуктак и кафе в расположении
$shakes: #c2e297;
// фон для милкшейков в продуктах и фудтрака
$section-bgc: #fff5f6;
$description-text: #907e82;
// более светлый текст в секции как готовить и в секции где нас найти, цвет контактоа - почта и телефон, копирайт
$review-bgc: #fafafa;
$home-icon: #d31342;
$circle-icon: #d9d9d9;
$soc-media-icons-bgc: #fea5bb;
$menu-bgc: #e17992;
$pink-btn-hover-bgc: #c7133e;
