<footer class="footer-bg">
  <div class="container">
    <h2 class="footer-title">
      <span class="footer-subtitle"> homemade ice cream made </span>
      with passion
    </h2>
    <div id="contakts" class="box-inner">
      <ul class="footer-social">
        <li class="social-list">
          <a class="social-link" href="" aria-label="Social media link">
            <svg class="social-item">
              <use class="social-icon" href="../images/header/header-sprite.svg#icon-cat">
              </use>
            </svg>
 
          </a>
        </li>
        <li class="social-list">
          <a class="social-link" href="" aria-label="Telegramm link">
            <svg class="social-item">
              <use class="social-icon" href="../images/header/header-sprite.svg#icon-telegram">
              </use>
            </svg>

          </a>
        </li>
        <li class="social-list">
          <a class="social-link" href="" aria-label="facebook link">
            <svg class="social-item">
              <use class="social-icon" href="../images/header/header-sprite.svg#icon-facebook">
              </use>
            </svg>

          </a>
        </li>
      </ul>
      <address class="footer-address">
        <b class="footer-contact">Feel free to contact
          <a class="contact-link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </b>
      </address>
    </div>
  </div>
  <p class="footer-copy">
    <span class="text">&copy; 2019 - IceCream. All Rights Reserved.</span>
  </p>
</footer>
