<section class="hero">
    <div class="hero-container container">
            <header id="top" class="page-header">
                <a href="" class="header-logo"><img width="50" height="50" src="../images/header/logo.png"
                        alt="Company logo">
                        <span class="header-logo__text">icecream</span>
                        </a>

                <button class="buynow-btn buynow-btn--tablet">Buy now
                    <svg class="buynow-icon" width="8" height="8">
                        <use href="../images/header/header-sprite.svg#icon-btn-arrow">
                        </use>
                    </svg>
                </button>

                <button data-menu-button class="menu-btn" aria-label="Menu open button">
                    <svg class="menu-svg" width="20" height="12">
                        <use class="menu-burger__icon" href="../images/header/header-sprite.svg#icon-burger"></use>
                        <use class="menu-close__icon" href="../images/header/header-sprite.svg#icon-close"></use>
                    </svg>
                </button>
                <div data-menu class="menu-box">
                    <button class="buynow-btn buynow-btn--hidden">Buy now
                        <svg class="buynow-button" width="8" height="8">
                            <use href="../images/header/header-sprite.svg#icon-btn-arrow">
                            </use>
                        </svg>
                    </button>
                    <nav>
                        <ul class="nav-list">
                            <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="">About us</a></li>
                            <li class="nav-item"><a class="nav-link" href="#making">How it’s made?</a></li>
                            <li class="nav-item"><a class="nav-link" href="#products">Our products</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contakts">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <h1 class="page-title">ice cream made with <span class="page-title__accented">passion</span></h1>
            
            <div class="header-buttons__container">
                <a class="hero-prod__btn" href="#products">Products</a>
                <a class="hero-made__btn" href="#making">How it’s made?</a>
            </div>

            <div class="icecream-box">
                <img src="../images/header/hero-icecream.png" alt="Big ice-cream">
            </div>

            <div class="milk-box">
                <img src="../images/header/milk.png" alt="Pitcher with milk">
            </div>

            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et</p>

            <a class="arrow-box" href="">
               <svg class="header-arrow" width="6" height="6">
                    <use href="../images/header/header-sprite.svg#icon-arrow-right">
                    </use>
                </svg>
            </a>

            <p class="cafe16">16</p>
            <p class="cafe">cafes</p>
            <p class="food23">23</p>
            <p class="food">food trucks</p>
            
            <div class="woman-box">
                <img src="../images/header/woman.png" alt="Picture of a wooman">
            </div>
        
        
    </div>
</section>
