<section id="making" class="making-section">
    <div class="making-container container">
        <div class="making-title-container">
            <h3 class="section-subtitle">tradition and love</h3>
            <h2 class="section__title">how it's made?</h2>
            <div class="flex-container">
                <picture>
                    <source 
                     srcset="
                      ../images/making-img/desktop/cow@1x.png 1x,
                      ../images/making-img/desktop/cow@2x.png 2x
                     " 
                      media="(min-width: 1200px)"
                    >
                    <source 
                     srcset="
                      ../images/making-img/tablet/cow@1x.png 1x,
                      ../images/making-img/tablet/cow@2x.png 2x
                     " 
                      media="(min-width: 768px)"
                     
                    >
                    <source 
                     srcset="
                       ../images/making-img/mobile/cow@1x.png 1x,
                       ../images/making-img/mobile/cow@2x.png 2x
                      " 
                      media="(max-width: 767px)"
                    >
                    <img class="making-picture" src="../images/making-img/mobile/cow@1x.png" alt="Молоко и корова" width="280">
                </picture>
                <article class="making-describe">
                    <p class="making-begin">
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
                        Nam vel justo cursus, faucibus lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.
                    </p>
                    <p class="making-middle">
                        Curabitur lacinia enim at ex blandit,
                        vel pellentesque odio elementum.
                        Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat,
                        a feugiat urna maximus. Cras massa nibh, <br class="br">tincidunt.
                    </p>
                    <p class="making-result">
                        Aliquam erat volutpat. Aenean accumsan.
                    </p>
                    <a class="making-button">
                        Read more
                        <svg class="making-arrow" width="10" height="10">
                            <use href="../images/header/header-sprite.svg#icon-btn-arrow">
                            </use>
                        </svg>
                    </a>
                </article>
            </div>
            <ul class="making-statistical">
                <li class="making-volume">
                    <p class="li-title ">721</p>
                    <p class="li-description">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="making-weight">
                    <p class="li-title">16KG</p>
                    <p class="li-description">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="making-number">
                    <p class="li-title">84</p>
                    <p class="li-description">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
