<section id="products" class="products">
    <div class="container container-prod">
        <h2 class="section__title">
            <span class="section-subtitle">100% natural</span>
            products
        </h2>
        <ul class="products-list">
            <li class="product">
                <div class="product-image__container">
                    <img srcset="../images/products/mobile/icecream.png 1x, ../images/products/mobile/icecream2x.png 2x" src="../images/products/mobile/icecream.png" alt="Icecream picture">
                </div>
                <h3 class="product-name">ice cream</h3>
                <div class="products-separator">
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span class="dolore">dolore magna aliqua facilisis.</span></p>
                <button class="product-btn">
                    <img srcset="../images/products/mobile/products-arrow.png 1x, ../images/products/mobile/products-arrow2x.png 2x" src="../images/products/mobile/products-arrow.png" alt="Arrow picture" aria-label="Show next button">
                <svg class="product-button" width="12" height="12">
                    <use href="../images/header/header-sprite.svg#icon-arrow-right">
                    </use>
                </svg>
                </button>
            </li>
            <li class="product">
                <div class="product-image__container">
                    <img srcset="../images/products/mobile/coffee.png 1x, ../images/products/mobile/coffee2x.png 2x" src="../images/products/mobile/coffee.png" alt="Coffee picture">
                </div>
                <h3 class="product-name">ice coffee</h3>
                <div class="products-separator">
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et. <span class="dolore">dolore magna aliqua facilisis.</span></p>
                <button class="product-btn">
                    <!-- <img srcset="./images/products/mobile/products-arrow.png 1x, ./images/products/mobile/products-arrow2x.png 2x" src="./images/products/mobile/products-arrow.png" alt="Arrow picture" aria-label="Show next button"> -->
                <svg class="product-button" width="12" height="12">
                    <use href="../images/header/header-sprite.svg#icon-arrow-right">
                    </use>
                </svg>
                </button>
            </li>
            <li class="product">
                <div class="product-image__container">
                    <img srcset="../images/products/mobile/shake.png 1x, ../images/products/mobile/shake2x.png 2x" src="../images/products/mobile/shake.png" alt="Milkshake picture">
                </div>
                <h3 class="product-name">milkshakes</h3>
                <div class="products-separator">
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et. <span class="dolore">dolore magna aliqua facilisis.</span></p>
                <button class="product-btn">
                    <img srcset="../images/products/mobile/products-arrow.png 1x, ../images/products/mobile/products-arrow2x.png 2x" src="../images/products/mobile/products-arrow.png" alt="Arrow picture" aria-label="Show next button">
                <svg class="product-button" width="12" height="12">
                    <use href="../images/header/header-sprite.svg#icon-arrow-right">
                    </use>
                </svg>
                </button>
            </li>
        </ul>
    </div>
</section>