.page-title {
  position: absolute;
  top: 193px;
  z-index: 2;
  font-family: Titan One;

  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;

  color: #ffffff;

  width: 218px;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and(min-width: $tablet) {
    width: 162px;
    height: 80px;
    left: 34px;
    top: 102px;
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and(min-width: $desctop) {
    // margin-left: 39px;
    width: 277px;
    height: 137px;
    left: 77px;
    top: 171px;
    font-size: 38px;
    line-height: 1.13;
  }
  &__accented {
    font-size: 48px;
    line-height: 0.96;

    color: $accented-text;
    @media screen and(min-width: $tablet) {
      font-size: 34px;
      line-height: 1.09;
    }
    @media screen and(min-width: $desctop) {
      font-size: 58px;
      line-height: 0.91;
    }
  }
}

.icecream-box {
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: 1;

  @media screen and(min-width: $tablet) {
    width: 143px;
    height: 336px;
    left: 378px;
    top: 63px;
    // z-index: 9;
  }

  @media screen and(min-width: $desctop) {
    width: 236px;
    height: 557px;
    left: 524px;
    top: 108px;
    // z-index: 9;
  }
  &::before {
    display: inline-block;
    content: '';
    z-index: -5;
    position: absolute;
    top: -9px;
    left: -81px;
    display: inline-block;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: $dark-pink;

    @media screen and(min-width: $tablet) {
      width: 324px;
      height: 322px;
      left: -71px;
      top: -32px;
    }

    @media screen and(min-width: $desctop) {
      width: 538px;
      height: 538px;
      left: -119px;
      top: -56px;
    }
  }
}
.header-buttons__container {
  position: absolute;
  top: 318px;
  display: flex;
  z-index: 5;
  // margin-top: 19px;
  @media screen and(min-width: $tablet) {
    top: 202px;
  }
  @media screen and(min-width: $desctop) {
    top: 334px;
    left: 77px;
  }
}
.hero-prod__btn {
  @include page_button(#fff, $accented-text, $pink-btn-hover-bgc);

  font-size: 8px;
  line-height: 1.25;

  margin-right: 8px;

  width: 63px;
  height: 24px;

  @media screen and(min-width: $tablet) {
    width: 61.2px;
    height: 24px;
  }
  @media screen and(min-width: $desctop) {
    font-size: 14px;
    line-height: 1.29;
    width: 102px;
    height: 40px;
  }
}
.hero-made__btn {
  // @extend %button;
  // @extend %white_button;
  @include page_button($accented-text, #fff, $light-btn-hover-bgc);

  font-size: 8px;
  line-height: 1.25;

  width: 83px;
  height: 24px;
  @media screen and(min-width: $tablet) {
    width: 82.8px;
    height: 24px;
  }
  @media screen and(min-width: $desctop) {
    font-size: 14px;
    line-height: 1.29;
    width: 138px;
    height: 40px;
  }
}

.milk-box {
  display: none;
  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    width: 124px;
    height: 126px;
    left: 34px;
    top: 245px;
  }
  @media screen and(min-width: $desctop) {
    width: 188px;
    height: 191px;
    left: 27px;
    top: 429px;
  }
}
.hero-text {
  display: none;
  margin: 0;
  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    width: 114px;
    left: 154px;
    top: 292px;
    letter-spacing: 0;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }
  @media screen and(min-width: $desctop) {
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    left: 235px;
    top: 485px;
  }
}

.arrow-box {
  display: none;
  border-radius: 50%;
  background-color: #fff;
  @media screen and(min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 18px;
    height: 18px;
    top: 347px;
    left: 154px;
  }
  @media screen and(min-width: $desctop) {
    width: 26px;
    height: 26px;
    left: 235px;
    top: 583px;
  }
}

.woman-box {
  display: none;
  z-index: 5;
  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    width: 168px;
    height: 133px;
    left: 566px;
    top: 266px;
  }
  @media screen and(min-width: $desctop) {
    width: 293px;
    height: 232px;
    left: 803px;
    top: 433px;
  }
}

.cafe16 {
  display: none;
  z-index: 5;
  margin: 0;
  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    height: 32px;
    right: 34px;
    top: 96px;
    font-family: Titan One;
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $accented-text;
  }
  @media screen and(min-width: $desctop) {
    // z-index: 15;
    // width: 54px;
    height: 53px;
    // left: 1081px;
    top: 160px;
    right: 77px;
    font-size: 46px;
    line-height: 1.15;
  }
}
.cafe {
  margin: 0;
  &::before {
    position: absolute;
    top: -35px;
    right: -5px;
    z-index: 0;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @media screen and(min-width: $desctop) {
      width: 30px;
      height: 30px;
      top: -60px;
      right: -10px;
    }
  }
  display: none;

  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    height: 10px;
    right: 34px;
    top: 128px;
    font-size: 8px;
    line-height: 1.25;
    color: #ffffff;
  }
  @media screen and(min-width: $desctop) {
    // width: 35px;
    height: 18px;
    // left: 1100px;
    top: 215px;
    right: 77px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.food23 {
  display: none;
  z-index: 5;
  margin: 0;
  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    height: 32px;
    right: 34px;
    top: 152px;
    font-family: Titan One;
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $accented-text;
  }
  @media screen and(min-width: $desctop) {
    // width: 59px;
    height: 53px;
    // left: 1076px;
    top: 251px;
    right: 77px;
    font-size: 46px;
    line-height: 1.15;
  }
}
.food {
  margin: 0;
  &::before {
    position: absolute;
    top: -35px;
    right: -5px;
    z-index: 0;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @media screen and(min-width: $desctop) {
      width: 30px;
      height: 30px;
      top: -60px;
      right: -10px;
    }
  }
  display: none;
  @media screen and(min-width: $tablet) {
    display: block;
    position: absolute;
    height: 10px;
    right: 34px;
    top: 184px;
    font-size: 8px;
    line-height: 1.25;
    color: #ffffff;
  }
  @media screen and(min-width: $desctop) {
    // width: 120px;
    height: 18px;
    // left: 1061px;
    top: 306px;
    right: 77px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.header-arrow {
  fill: $accented-text;
}
